@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);

html,
body {
  font-family: "Dosis";
  font-weight: 300;
  background-color: #330033;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

a {
  text-decoration: none;
  color: rgb(234, 126, 126);
}

a:hover {
  font-weight: bolder;
  text-decoration: underline;
}

.header {
  width: 100%;
  border-bottom: 1px solid black;
  text-align: right;
  position: relative;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  font-weight: 100;
  padding: 26px;
  border-right: 1px solid black;
}

.link {
  display: inline-block;
  padding: 15px 0;
  margin: 15px 25px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(234, 126, 126);
  font-weight: 800;
  font-size: 24px;
}

.bar {
  width: 100%;
  display: inline-block;
  border-bottom: 5px solid black;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 300ms;
}

.tasks {
  font-size: 25px;
}

.emailButton {
  background-color: #a61313;
  color: aliceblue;
  font-weight: bolder;
  border-radius: 5px;
  padding: 3%;
}

.safeButton {
  background-color: #07c583;
  color: aliceblue;
  font-weight: bolder;
  border-radius: 5px;
  padding: 3%;
}

.alert {
  color: #a61313;
  font-weight: 900;
}

.emailAllButton {
  background-color: #a61313;
  color: aliceblue;
  font-weight: bolder;
  border-radius: 5px;
  padding: 1%;
  margin: 2%;
}

.buttons {
  display: flex;
}

.leaveInput {
  font-size: 16px;
  border-radius: 5%;
}

.search {
  margin-top: 8px;
}

.searchBar {
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #553232;
  width: 20%;
  padding: 0.5%;
}

.searchBUtton {
  font-size: 16px;
  padding: 0.5%;
  border-radius: 10px;
  background-color: #07c583;
}

.signupForm {
  width: 70%;
  border: 3px solid #220659;
  margin-top: 4%;
  border-radius: 50px;
}

.inputFields {
  padding: 3%;
  font-size: 25px;
  text-align: left;
}

.inputField {
  width: 100%;
  margin-top: 10px;
  font-size: 25px;
  border-radius: 50px;
  padding: 10px;
}

.signupSubmit {
  width: 25%;
  font-size: 25px;
  padding: 2%;
  background-color: aliceblue;
  border-radius: 50px;
}

.signupSubmit:hover {
  background-color: #9a15a7;
}

.aboutUs {
  border: 2px solid rgb(41, 15, 15);
  margin-top: 8%;
  padding: 10px;
  border-radius: 50px;
  width: 70%;
  text-align: left;
  padding-left: 2%;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-github {
  background: #333;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.welcome {
  color: rgb(255, 63, 63);
  margin-left: 1%;
}

.jobs {
  border: 2px solid rgb(23, 53, 23);
  padding: 3%;
  border-radius: 50px;
}

.messageForm {
  margin-top: 8%;
  padding: 2%;
  border: 3px solid black;
  width: 70%;
  border-radius: 50px;
}

.headerField {
  text-align: left;
  margin-bottom: 1%;
}

.headerField > input {
  font-size: 20px;
  border-radius: 5px;
  margin-left: 3%;
}

.bodyField {
  text-align: left;
  display: flex;
  align-items: center;
  margin-bottom: 1%;
}

.bodyField > textarea {
  margin-left: 4.3%;
  font-size: 20px;
  border-radius: 5px;
}

.messageSubmit {
  width: 15%;
  font-size: 16px;
  padding: 2%;
  background-color: aliceblue;
  border-radius: 50px;
}

.messageSubmit:hover {
  background-color: #9a15a7;
}

body {
  color: aliceblue;
}
