<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <a href="{{ url_for('home') }}">
          <strong>Attendance System Using Face Recognition</strong>
        </a>
      </div>
      <div class="menu">
        <a href="{{ url_for('about') }}" class="link">
          <div class="title">About</div>
          <div class="bar"></div>
        </a>
        <a href="{{ url_for('change') }}" class="link">
          <div class="title">Change Password</div>
          <div class="bar"></div>
        </a>
        <a href="#" class="link">
          <div class="title">Contact</div>
          <div class="bar"></div>
        </a>
      </div>
    </div>
    {% if user %}
    <h1 class="welcome">Welcome {{ user }}</h1>
    {% endif %} {% if message1 %}
    <center><h3 class="alert">Password changed successfully!</h3></center>
    {% endif %} {% if message2 %}
    <center><h3 class="alert">Broadcast Message sent successfully!</h3></center>
    {% endif %}
    <div class="jobs">
      <h2>What would you like to do today?</h2>
      <ul>
        <li>
          <form method="POST" action="/download">
            <a href="../All Data.csv" download="Data.csv">
              <button type="submit" class="tasks">
                Download the attendance data of all the students.
              </button>
            </a>
          </form>
          {% if downloaded %}
          <a href="{{ url_for('All Data.csv') }}">Download</a>
          {% endif %}
        </li>

        <li>
          <form method="POST" action="/allStudents">
            <button type="submit" class="tasks">List all students.</button>
          </form>
        </li>

        <li>
          <a href="{{ url_for('formBroadcastMessage') }}">
            <button type="submit" class="tasks">Send a broadcast email.</button>
          </a>
        </li>
      </ul>
    </div>
  </body>
</html>
