<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <strong>Attendance System Using Face Recognition</strong>
      </div>
      <div class="menu">
        <a href="{{ url_for('about') }}" class="link">
          <div class="title">About</div>
          <div class="bar"></div>
        </a>
      </div>
    </div>
    {% if message1 %}
    <center><h3 class="alert">Passwords incorrect!</h3></center>
    {% endif %} {% if message2 %}
    <center><h3 class="alert">Email does not exist!</h3></center>
    {% endif %}
    <center>
      <div class="signupForm">
        <center>
          <form action="/verifyLogin" method="POST">
            <div class="inputFields">
              <strong>Email:</strong>
              <input type="text" name="email" class="inputField" />
            </div>
            <div class="inputFields">
              <strong>Password:</strong>
              <input type="password" name="password" class="inputField" />
            </div>
            <button type="submit" class="signupSubmit">Submit</button>
          </form>
          <p>
            Don't have an account? <a href="{{ url_for('signup') }}">Sign Up</a>
          </p>
        </center>
      </div>
    </center>
  </body>
</html>
